<html lang="en" ng-app="fimApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body ng-controller="AppCtrl">
        <input type="text" ng-model="nome">
        <h1>{{nome}}</h1>
        <h2>{{mensagem}}</h2>
        <ul ng-repeat="contato in contatos">
            <li>{{contato.nome}} - {{contato.telefone}}</li><button ng-click="exibirNome(contato.nome)">Exibir</button>
        </ul>
</body> 
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="scripts/script.js"></script>
</html>